{% extends 'header.html' %}
{% load static %}
{% block content %}
<div>
    <form action="{% url 'search_form' %}" method="POST">
        {% csrf_token %}
        <span>Id is {{ value.id }} </span><br>
        <input type="number" name="id" value={{value.id}} style="display:none"><br>
        <label for="name">Name</label>
        <input type="text" name="name" value="{{ value.name }}"><br>
        <label for="phone">Phone Number</label>
        <input type="text" name="phone" value="{{ value.phone }}"><br>
        <input type="submit" value="Submit">
    </form>
   <button><a href="{% url 'show' %}">show details</a></button>
</div>
{% endblock %}